{% extends "bairros/base.html" %}

{% block content %}
<h1 class="mt-4">Estatísticas sobre Boletins de Ocorrência registrados no Capão Redondo</h1>
<p>Este projeto utiliza os dados presentes no
<a class="http" href="http://www.ssp.sp.gov.br/transparenciassp/">Portal da Transparência do Estado de São Paulo</a>. Os dados utilizados correspondem apenas às ocorrências de Roubo e Furto de celulares, registrados entre janeiro de 2015 e setembro de 2021 na região do Capão Redondo, zona sul de São Paulo.</p>
<p>Um dos objetivos desse trabalho é mostrar, de forma mais clara e didativa, os dados sobre a segurança da região.</p>
<p>As informações nesse site podem não corresponder à realidade, uma vez que podem ocorrer diversos erros nos dados durante todo o processo. Como, por exemplo:</p>
<ul class="list-group list-group-flush">
	<li class="list-group-item">Preenchimento incorreto do boletim de ocorrência feito pela vítima</li>
	<li class="list-group-item">Erros durante a obtenção e pré-processamento dos dados</li>

<p>
No menu lateral é possível navegar entre as funcionalidades do site. 
<!--<code>#page-content-wrapper</code>
<code>#sidebarToggle</code>-->
</p>
{% endblock %}
