{% extends "bairros/base.html" %}

{% block content %}
<h1 class="mt-4">Estatísticas sobre Boletins de Ocorrência registrados no Capão Redondo</h1>
<p>Este projeto utiliza os dados presentes no
<a class="http" href="http://www.ssp.sp.gov.br/transparenciassp/">Portal da Transparência do Estado de São Paulo</a>. Os dados utilizados correspondem apenas às ocorrências de Roubo e Furto de celulares, registrados entre janeiro de 2015 e setembro de 2021 na região do Capão Redondo, zona sul de São Paulo.</p>
<p>As informações nesse site podem não corresponder à realidade, uma vez que muitas pessoas cometem erros ao preencher os boletins de ocorrência. As ocorrências que possuiam o nome do bairro e/ou da rua incorretas não foram contabilizadas.</p>
<p>
No menu lateral é possível navegar entre as funcionalidades do site. 
<!--<code>#page-content-wrapper</code>
<code>#sidebarToggle</code>-->
</p>
{% endblock %}
