{% extends "bairros/base.html" %}

{% block content %}
<h3>Visualização das estatísticas por logradouro</h3>
<p>Aqui estão listados os bairros da região do Capão Redondo onde foram registrados Boletins de Ocorrência.</p>
<p>Após selecionar o bairro, clique no botão "Visualizar informações" abaixo. </p>
<p>Caso o logradouro do seu interesse não esteja listado, isso pode ser decorrente dos seguintes erros:</p>
<ul class="list-group list-group-flush">
	<li class="list-group-item">Digitação incorreta do nome do logradouro durante o  preenchimento do boletim de ocorrência</li>
	<li class="list-group-item">A ocorrência de fato ocorreu na região do Capão Redondo, porém o boletim de ocorrência foi registrado na delegacia de outra região</li>
	<li class="list-group-item">Erro no processamento dos dados</li>
<!--{{ graph|safe }}-->
<p></p>
<select>
	<option disabled="True selected">-- Escolha o logradouro --</option>
<option>AVENIDA ALTO DE VILA PIRAJUSSARA</option>
<option>AVENIDA ANDORINHA DOS BEIRAIS</option>
<option>AVENIDA ANDORINHA-DOS-BEIRAIS</option>
<option>AVENIDA APOLOGOS ORIENTAIS</option>
<option>AVENIDA ATOS TOMAS FERRACCIU</option>
<option>AVENIDA ATOS TOMAS FERRACIU</option>
<option>AVENIDA AUGUSTO BARBOSA TAVARES</option>
<option>AVENIDA AUGUSTO CARDOSO</option>
<option>AVENIDA CANTOS DO AMANHECER</option>
<option>AVENIDA CARLOS LACERDA</option>
<option>AVENIDA COMENDADOR SANTANNA</option>
<option>AVENIDA DA MOENDA VELHA</option>
<option>AVENIDA DOM RODRIGO SANCHES</option>
<option>AVENIDA DONA ANILA</option>
<option>AVENIDA DOUTOR SALVADOR ROCCO</option>
<option>AVENIDA ELLIS MAAS</option>
<option>AVENIDA FELIPE CARRILLO PUERTO</option>
<option>AVENIDA FERNAO DE CASTANHEDA</option>
<option>AVENIDA GUARUJA</option>
<option>AVENIDA MORUMBI</option>
<option>AVENIDA NUNO MARQUES PEREIRA</option>
<option>AVENIDA PROFESSOR DOUTOR TELEMACO HIPPOL</option>
<option>AVENIDA VISCONDE DO RIO GRANDE</option>
<option>AVENIDA WILHELM FRIEDRICH LADWIG</option>
<option>ESTRADA DE ITAPECERICA</option>
<option>ESTRADA DO M'BOI MIRIM",<option>ESTRADA DO MBOI MIRIM</option>
<option>ESTRADA ITAPECERICA</option>
<option>ESTRADA PIRAJUSSARA VALO VELHO</option>
<option>ESTRADA PIRAJUSSARA-VALO VELHO</option>
<option>PASSARELA TONINHO GUERREIRO</option>
<option>PRACA AXE</option>
<option>PRACA DOUTOR RAUL BORGES DA ROCHA</option>
<option>PRACA MANOEL LOPES</option>
<option>PRACA PROFESSOR MARIO DOS SANTOS</option>
<option>R. ENG. JOSE MARIA DA SILVA VELHO</option>
<option>RODOVIA ARMANDO SALLES / SP 228</option>
<option>RUA ABIETACEAS</option>
<option>RUA ABIGAIL MAIA</option>
<option>RUA ABILHEIRA</option>
<option>RUA ABILIO CESAR</option>
<option>RUA ABORIGENE</option>
<option>RUA ABRIL PERES</option>
<option>RUA ACAFRAO DA TERRA</option>
<option>RUA ACAJURANA</option>
<option>RUA ACARI ESPADA</option>
<option>RUA ACARIRANA</option>
<option>RUA ACCACIO FIGUEIREDO</option>
<option>RUA ACELGA</option>
<option>RUA ACHAIRA</option>
<option>RUA ACOMAYO</option>
<option>RUA ACUCENA BRANCA</option>
<option>RUA ADONARA</option>
<option>RUA ADRIATICO</option>
<option>RUA AFONSO AFRICANO</option>
<option>RUA AFONSO DOMINGUES</option>
<option>RUA AFONSO SANCHES</option>
<option>RUA AGLAE REIS</option>
<option>RUA AGNUS DEI</option>
<option>RUA AGOSTINHO DE PAIVA</option>
<option>RUA AGOSTINIANOS</option>
<option>RUA AGOSTINO CARRACI</option>
<option>RUA AGROPOLI</option>
<option>RUA AGUIA REAL</option>
<option>RUA ALBERT LANGE</option>
<option>RUA ALBERTO BORGES SOVERAL</option>
<option>RUA ALBERTO PAULINO</option>
<option>RUA ALCIDES DE PAIVA MONTEIRO</option>
<option>RUA ALEXANDRE GOLOVINE</option>
<option>RUA ALFONSO SANTI</option>
<option>RUA ALFREDO LORENZ</option>
<option>RUA ALFREDO OMETECIDIO</option>
<option>RUA ALGARD</option>
<option>RUA ALICE LEO</option>
<option>RUA ALVARO FERREIRA</option>
<option>RUA ALVARO TROPPMAIR</option>
<option>RUA ALVES DE OLIVEIRA</option>
<option>RUA ALVES DE SOUZA</option>
<option>RUA AMLETO MARCHI</option>
<option>RUA ANA ASLAN</option>
<option>RUA ANDORINHA</option>
<option>RUA ANDORINHA COLEIRA</option>
<option>RUA ANDORINHA DOS BEIRAIS</option>
<option>RUA ANDORINHA PEQUENA</option>
<option>RUA ANDRE SOARES</option>
<option>RUA ANDREA BRIOSCO</option>
<option>RUA ANDREA DELLA ROBBIA</option>
<option>RUA ANDREA SANSOVINO</option>
<option>RUA ANDREA SOLARIO</option>
<option>RUA ANTON GRAFF</option>
<option>RUA ANTONI GAUDI</option>
<option>RUA ANTONIO AUGUSTO</option>
<option>RUA ANTONIO AZELINO GUERRA</option>
<option>RUA ANTONIO BIBIENA</option>
<option>RUA ANTONIO CANON</option>
<option>RUA ANTONIO COSTA ERNESTO</option>
<option>RUA ANTONIO DE BARROS DA SILVA</option>
<option>RUA ANTONIO DE FARIA</option>
<option>RUA ANTONIO DE MELO FREITAS</option>
<option>RUA ANTONIO FORLENZA</option>
<option>RUA ANTONIO FORTINO</option>
<option>RUA ANTONIO FURTADO</option>
<option>RUA ANTONIO GARCIA ROSA</option>
<option>RUA ANTONIO JOSE BENTES</option>
<option>RUA ANTONIO JOSE PATRICIO</option>
<option>RUA ANTONIO LOPES MACHADO</option>
<option>RUA ANTONIO MAXIMIANO DA SILVA</option>
<option>RUA ANTONIO NUNES DE AZEVEDO</option>
<option>RUA ANTONIO PEREIRA DE SA</option>
<option>RUA ANTONIO VIEGAS ATAIDE</option>
<option>RUA ANTONIO XAVIER BUENO</option>
<option>RUA ANUM BRANCO</option>
<option>RUA ANUM DOURADO</option>
<option>RUA ANUM PRETO</option>
<option>RUA ARLINDO LACERDA</option>
<option>RUA ARNALDO DANIEL</option>
<option>RUA ARNALDO GAMA</option>
<option>RUA ARROIO BUTIA</option>
<option>RUA ARROIO DAS CANELEIRAS</option>
<option>RUA ARROIO DO ENGENHO</option>
<option>RUA ARROIO TIPIAIA</option>
<option>RUA ARTHUR DOVE</option>
<option>RUA ARTUR LOUREIRO</option>
<option>RUA ARVORE DA VIDA</option>
<option>RUA ASSAD BECHARA</option>
<option>RUA ASTURICA</option>
<option>RUA AUGUSTO FRANCO</option>
<option>RUA AURELIA DE SOUSA</option>
<option>RUA AVELINA AZEVEDO WANDERLEY</option>
<option>RUA AVIADORA ANESIA PINHEIRO MACHADO</option>
<option>RUA AZINHAL</option>
<option>RUA BACIA DE S FRANCISCO</option>
<option>RUA BARBOSA DE FREITAS</option>
<option>RUA BARCOS RABELOS</option>
<option>RUA BASILIO TELES</option>
<option>RUA BATALHA REIS</option>
<option>RUA BATISTA COELHO</option>
<option>RUA BATTISTA MALATESTA</option>
<option>RUA BEIRA RIO</option>
<option>RUA BENEDITO CALISTO DE JESUS</option>
<option>RUA BENEDITO DE BARROS</option>
<option>RUA BENEDITO DOMINGUES</option>
<option>RUA BERNARDIM RIBEIRO</option>
<option>RUA BERNARDO GOMES DE BRITO</option>
<option>RUA BERTHELOT</option>
<option>RUA BICCI DI LORENZO</option>
<option>RUA BOJADOR</option>
<option>RUA BORLANGE</option>
<option>RUA BRACARA</option>
<option>RUA BRAS ALBANESE</option>
<option>RUA BRITEIROS</option>
<option>RUA BRUNO LAURO</option>
<option>RUA BUBY</option>
<option>RUA BUENAVENTURA</option>
<option>RUA CABECEIRAS DE BASTO</option>
<option>RUA CACHOEIRA AUARI</option>
<option>RUA CACHOEIRA DO ACARA</option>
<option>RUA CACHOEIRA DO AIRI</option>
<option>RUA CACHOEIRA DO AQUIBI</option>
<option>RUA CAETANO SOARES</option>
<option>RUA CALABRIA</option>
<option>RUA CAMPOS BORGES</option>
<option>RUA CANDAL</option>
<option>RUA CANDIDO LUSITANO</option>
<option>RUA CANTANHEDE</option>
<option>RUA CANTIGAS DE SAUDADE</option>
<option>RUA CANTORI</option>
<option>RUA CANTORIAS PAULISTAS</option>
<option>RUA CAPANNORI</option>
<option>RUA CAPITAO JOSE CERQUEIRA LEITE</option>
<option>RUA CAPITAO VICENTE COCOZZA</option>
<option>RUA CAPITU</option>
<option>RUA CARLO DOLCI</option>
<option>RUA CARLO ROSSI</option>
<option>RUA CARLO SARACENI</option>
<option>RUA CARLOS BLUM</option>
<option>RUA CARLOS DO NASCIMENTO OLIVEIRA</option>
<option>RUA CARLOS FORTE</option>
<option>RUA CARLOS SEVERO</option>
<option>RUA CARNAUBAL</option>
<option>RUA CARNEIRO VILELA</option>
<option>RUA CAROLINA DO NORTE</option>
<option>RUA CASPIO</option>
<option>RUA CASTELLAMMARE</option>
<option>RUA CATARINA MAUAD</option>
<option>RUA CEDRO ROSA</option>
<option>RUA CEFALONIA</option>
<option>RUA CELAVISA</option>
<option>RUA CELORICO DE BASTO</option>
<option>RUA CERDEIRA</option>
<option>RUA CESAR BIERREMBACH</option>
<option>RUA CHAGUARAMAS</option>
<option>RUA CHAIA ZINGEREVITZ</option>
<option>RUA CHAPADAO</option>
<option>RUA CHAPADAO DO BUGRE</option>
<option>RUA CHARLES GARNIER</option>
<option>RUA CHIMBORAZO</option>
<option>RUA CICERO FERRAZ DO AMARAL</option>
<option>RUA CICLADES</option>
<option>RUA CINCO</option>
<option>RUA CIPOTUBA</option>
<option>RUA CIRILO MACHADO</option>
<option>RUA CIRO FERRI</option>
<option>RUA CITTADELLA</option>
<option>RUA CITTANOVA</option>
<option>RUA CLAUDE AUDRAN</option>
<option>RUA CLAUDIO MILANO</option>
<option>RUA CLEONICE</option>
<option>RUA CLOVIS DA SILVA PEREIRA</option>
<option>RUA COELHO LOUSADA</option>
<option>RUA COLONIA NOVA</option>
<option>RUA COLONIA SARMIENTO</option>
<option>RUA COMENDADOR ANTUNES DOS SANTOS</option>
<option>RUA COMENDADOR FUAD SALEM</option>
<option>RUA CONCIENCIA POPULAR</option>
<option>RUA CORONEL JOSE HIPOLITO TRIGUEIRINHO</option>
<option>RUA CORTEGACA</option>
<option>RUA COSTA DA CASTANHEIRA</option>
<option>RUA COSTA DO MARFIM</option>
<option>RUA CRETA</option>
<option>RUA CULTURA POPULAR</option>
<option>RUA CUNHA SEIXAS</option>
<option>RUA CUSTODIA MARIA DE JESUS</option>
<option>RUA DA ALEGRIA</option>
<option>RUA DA COSTA NOVA DO PRADO</option>
<option>RUA DA IDADE MEDIA</option>
<option>RUA DA MANDIRA</option>
<option>RUA DA MOENDA</option>
<option>RUA DA PRAIA DE MIRAMAR</option>
<option>RUA DA SAFRA</option>
<option>RUA DA SEDA</option>
<option>RUA DA SOLIDARIEDADE</option>
<option>RUA DAMASCO</option>
<option>RUA DANIEL GRAN</option>
<option>RUA DAS PEROBEIRAS</option>
<option>RUA DAS PRAIAS DA COSTA VERDE</option>
<option>RUA DAS TRES MARIAS</option>
<option>RUA DIAMANTE VERDE</option>
<option>RUA DIEGO DE SILOE</option>
<option>RUA DIOGENES TABORDA</option>
<option>RUA DIOGO DIAS</option>
<option>RUA DIOGO MULEIRO</option>
<option>RUA DO VALBOEIRO</option>
<option>RUA DOCE LIMA</option>
<option>RUA DOMENICO CORVI</option>
<option>RUA DOMENICO FARINATI</option>
<option>RUA DOMINGOS ANTONIO DE MORAIS</option>
<option>RUA DOMINGOS DE SOUSA SILVA</option>
<option>RUA DOMINGOS PEIXOTO DA SILVA</option>
<option>RUA DOMINGOS SEQUEIRA</option>
<option>RUA DOS CATA VENTOS</option>
<option>RUA DOS CEDROS</option>
<option>RUA DOS GIRASSOIS</option>
<option>RUA DOS JERIBAS</option>
<option>RUA DOS MASCARINOS</option>
<option>RUA DOS MERCANTEIS</option>
<option>RUA DOS MUTIRANTES</option>
<option>RUA DOS SAVEIROS</option>
<option>RUA DOUTOR ADALBERTO PEREIRA DA FONSECA</option>
<option>RUA DOUTOR ANTONIO BARBOSA DA CUNHA</option>
<option>RUA DOUTOR BRANDAO</option>
<option>RUA DOUTOR CICERO VIEIRA</option>
<option>RUA DOUTOR DIB GEBARA</option>
<option>RUA DOUTOR FELIPE CABRAL DE VASCONCELOS</option>
<option>RUA DOUTOR GERALDO CARDOSO DE MELO FILHO</option>
<option>RUA DOUTOR HUMBERTO PASCALE</option>
<option>RUA DOUTOR HUMBERTO PASQUALE</option>
<option>RUA DOUTOR JORGE ARIDA</option>
<option>RUA DOUTOR JOSE VELASQUES VARGAS</option>
<option>RUA DOUTOR LUIS HOPPE</option>
<option>RUA DOUTOR MARIO CORBIOLI</option>
<option>RUA DOUTOR NESRALLA RUBENZ</option>
<option>RUA DOUTOR OSMANY BORGES PINTO</option>
<option>RUA DOUTOR RENATO LOCCHI</option>
<option>RUA DUARTE COELHO PEREIRA</option>
<option>RUA DURVAL FURTADO DE MELO</option>
<option>RUA EDUARDA CARDOSO RICARDO</option>
<option>RUA EDUARDO CARIGE BARAUNA</option>
<option>RUA EDUARDO JURGENFELD</option>
<option>RUA EDUARDO PONDAL</option>
<option>RUA EMILIA RASNE</option>
<option>RUA EMILIO BESSA</option>
<option>RUA EMILIO BRIEDES</option>
<option>RUA EMILIO CONESA</option>
<option>RUA ENGENHEIRO ANTONIO LACERDA</option>
<option>RUA ENGENHEIRO FELIPE GUITON</option>
<option>RUA ENGENHEIRO JOSE MARIA DA SILVA VELHO</option>
<option>RUA ENRICO DRAMPOLINI</option>
<option>RUA ERASMUS GRASSER</option>
<option>RUA ERCILIA VELARDO LUONGO</option>
<option>RUA ERMANO DE STRADELLI</option>
<option>RUA ERNANI ROSAS RIBEIRO</option>
<option>RUA ERNESTO BAVIO</option>
<option>RUA ERNESTO SOARES FILHO</option>
<option>RUA ESMERALDA DE BARROS</option>
<option>RUA ESMORIZ</option>
<option>RUA ESTEVAO JORDAN</option>
<option>RUA ESTORIS DO NORTE</option>
<option>RUA ETELVINO PEDRO DOS SANTOS</option>
<option>RUA EUNICE SOARES DA CUNHA</option>
<option>RUA EURICO BRANCO RIBEIRO</option>
<option>RUA EUSIMIO DA CRUZ BATISTA</option>
<option>RUA FABIO BARBOSA LIMA</option>
<option>RUA FALCON</option>
<option>RUA FALKENBERG</option>
<option>RUA FASANO</option>
<option>RUA FEITICO DA VILA</option>
<option>RUA FELGUEIRAS</option>
<option>RUA FERES BECHARA</option>
<option>RUA FERNANDES TRANCOSO</option>
<option>RUA FERNANDO MARINHO FALCAO</option>
<option>RUA FERNAO DE CASTANHEDA</option>
<option>RUA FERREIROPOLIS</option>
<option>RUA FIDENZA</option>
<option>RUA FLAMINIO PONZIO</option>
<option>RUA FLANDRES</option>
<option>RUA FLORENCA</option>
<option>RUA FLORES SILVESTRES</option>
<option>RUA FLORIANO PEIXOTO LISBOA</option>
<option>RUA FRA BARTOLOMEO</option>
<option>RUA FRANCESCO LAURANA</option>
<option>RUA FRANCESCO MARTINI</option>
<option>RUA FRANCESCO TALENTI</option>
<option>RUA FRANCISCA QUEIROS</option>
<option>RUA FRANCISCO ANTONIO DA LUZ</option>
<option>RUA FRANCISCO CAMINHOA</option>
<option>RUA FRANCISCO DE ABREU</option>
<option>RUA FRANCISCO GUIMARAES MORAES</option>
<option>RUA FRANCISCO MARIANI</option>
<option>RUA FRANCISCO NOGUEIRA SILVA</option>
<option>RUA FRANCISCO PINTO MIGUEL</option>
<option>RUA FRANCISCO PRISCO</option>
<option>RUA FRANCISCO REGO</option>
<option>RUA FRANCISCO VIELMA</option>
<option>RUA FREDERICO CONSOLO</option>
<option>RUA FREI PEDRO CRISOLOGO</option>
<option>RUA FREI XISTO TEUBER</option>
<option>RUA GABRIEL CAROZZA</option>
<option>RUA GAETANO PREVIATI</option>
<option>RUA GAGLIANO NETO</option>
<option>RUA GARCIA DE ORTA</option>
<option>RUA GARCIA DE TOLEDO</option>
<option>RUA GASPAR COELHO</option>
<option>RUA GASPAR FROIS MACHADO</option>
<option>RUA GENERAL RIBAMAR DE MIRANDA</option>
<option>RUA GENERAL SILVA BRAGA</option>
<option>RUA GENERAL VIEIRA DA ROSA</option>
<option>RUA GENTIL BASTOS DE CARVALHO</option>
<option>RUA GERALDO TEIXEIRA MACHADO</option>
<option>RUA GERES</option>
<option>RUA GINGADINHO</option>
<option>RUA GIORGIO MORANDI</option>
<option>RUA GIOVANNI DA MILANO</option>
<option>RUA GIOVANNI FASOLO</option>
<option>RUA GIOVANNI PISANO</option>
<option>RUA GIUSEPE RECCO</option>
<option>RUA GOIOXIM</option>
<option>RUA GONCALO BARROS</option>
<option>RUA GONCALVES DOS SANTOS</option>
<option>RUA GONDOMAR</option>
<option>RUA GREGORIO DA FONSECA</option>
<option>RUA GUIDO MENEGHETTI</option>
<option>RUA GUILHERME LORICCHIO</option>
<option>RUA GUSTAVE DORE</option>
<option>RUA HANI WARD</option>
<option>RUA HELIO DA COSTA MANSO</option>
<option>RUA HENRI LAUBE</option>
<option>RUA HENRI MATISSE</option>
<option>RUA HENRIQUE MOREIRA</option>
<option>RUA HENRIQUE REICHMANN</option>
<option>RUA HENRIQUE SAM MINDLIN</option>
<option>RUA HENRIQUE WASSIMAN</option>
<option>RUA HERVE CORDOVIL</option>
<option>RUA HILDEGARD JURGENFELD</option>
<option>RUA HIPOLITO DA SILVA</option>
<option>RUA IGNACIO DE ALMEIDA</option>
<option>RUA ILHA MAIORCA</option>
<option>RUA INTEGRADA</option>
<option>RUA IPUACU</option>
<option>RUA IRMAOS INDIOS</option>
<option>RUA ISAIAS CAVALCANTE VERAS</option>
<option>RUA ISAIAS FARIA CAMACHO</option>
<option>RUA ITAPIOCABA</option>
<option>RUA IVALDO</option>
<option>RUA IVAN</option>
<option>RUA IVAN MARTOS</option>
<option>RUA IVANIR FERNANDES</option>
<option>RUA IVOR</option>
<option>RUA JACQUES LE MARCIER</option>
<option>RUA JADE</option>
<option>RUA JAIME BALMER</option>
<option>RUA JAIME GUIMARAES COSTA</option>
<option>RUA JAMIL SAWAYA</option>
<option>RUA JAPAREIRAS</option>
<option>RUA JAPERI</option>
<option>RUA JASMIN DA BEIRADA</option>
<option>RUA JASMIN DE VENEZA</option>
<option>RUA JOAO ANDRE LEYSER</option>
<option>RUA JOAO BATISTA MARCONDES</option>
<option>RUA JOAO CAMPELO DE MORAES</option>
<option>RUA JOAO CARLOS SANTOS DA SILVA</option>
<option>RUA JOAO DA CRUZ E SOUSA</option>
<option>RUA JOAO DE ALMADA</option>
<option>RUA JOAO FELICIO DOS SANTOS</option>
<option>RUA JOAO JOAQUIM BOHN</option>
<option>RUA JOAO JOSE RODRIGUES JUNIOR</option>
<option>RUA JOAO MACHADO DE OLIVEIRA</option>
<option>RUA JOAO ROBALO</option>
<option>RUA JOAO RODRIGUES DO NASCIMENTO</option>
<option>RUA JOAO VALERA GOMES</option>
<option>RUA JOAQUIM DO REGO MONTEIRO</option>
<option>RUA JOAQUIM GUERRA AZEVEDO</option>
<option>RUA JOAQUIM MENDES DE AGUIAR</option>
<option>RUA JOAQUIM RAFAEL</option>
<option>RUA JOHN ADAMS</option>
<option>RUA JOHN REDFORD</option>
<option>RUA JORGE AFONSO</option>
<option>RUA JORGE BUONI</option>
<option>RUA JORGE COLACO</option>
<option>RUA JORGE STREET</option>
<option>RUA JOSE ALVES DA SILVA</option>
<option>RUA JOSE ALVES MOREIRA</option>
<option>RUA JOSE ANTEQUERA</option>
<option>RUA JOSE ANTOLINEZ</option>
<option>RUA JOSE ANTONIO CALDAS</option>
<option>RUA JOSE BEIRINHAS</option>
<option>RUA JOSE BOTELHO CARVALHO</option>
<option>RUA JOSE CHURRIGUERA</option>
<option>RUA JOSE DE ARAGAO</option>
<option>RUA JOSE DE FIGUEREDO LIMA</option>
<option>RUA JOSE DE MAISTRE</option>
<option>RUA JOSE GOMES</option>
<option>RUA JOSE RIBEIRO RAMOS</option>
<option>RUA JOSE TARTINI</option>
<option>RUA JOSEFA AYALA</option>
<option>RUA JOSEPH BERNARD</option>
<option>RUA JUAN CAMPILLO</option>
<option>RUA JULIANO AGUIRRE</option>
<option>RUA JULIETA BARBARA</option>
<option>RUA JULIO MACEDO GONCALVES</option>
<option>RUA JUNCO DA PRAIA</option>
<option>RUA JUNHO DE 1985</option>
<option>RUA JUSTINIANO CARRANZA</option>
<option>RUA KOTO MITSUTANI</option>
<option>RUA LA CONDAMINE</option>
<option>RUA LAGO VITORIA</option>
<option>RUA LAGOA DO PALHAL</option>
<option>RUA LAGOA REAL</option>
<option>RUA LAPA DOS ESTEIOS</option>
<option>RUA LECA</option>
<option>RUA LEONIDAS BUSI</option>
<option>RUA LEONOR DE ALMEIDA</option>
<option>RUA LEONOR TELES</option>
<option>RUA LETICIA</option>
<option>RUA LIBERAL BRUANT</option>
<option>RUA LINHARES DE LACERDA</option>
<option>RUA LOUIS BOULOGNE</option>
<option>RUA LOUIS CABAT</option>
<option>RUA LOUIS CARAVAQUE</option>
<option>RUA LOUIS CARRAND</option>
<option>RUA LOUIS FINSON</option>
<option>RUA LUAR DO SERTAO</option>
<option>RUA LUCAS JOSE DE ALVARENGA</option>
<option>RUA LUDOVICE</option>
<option>RUA LUIS AUGUSTO FERREIRA</option>
<option>RUA LUIS DA FONSECA GALVAO</option>
<option>RUA LUIS DALMAN</option>
<option>RUA LUIS DE OLIVEIRA</option>
<option>RUA LUIS DELFINO DOS SANTOS</option>
<option>RUA LUIS GONZAGA DE MELO</option>
<option>RUA LUIS MADRAZO</option>
<option>RUA LUIS MELENDEZ</option>
<option>RUA LUIS VIEIRA</option>
<option>RUA LUISA TODI</option>
<option>RUA LUSITANO SOARES</option>
<option>RUA LUZ SORIANO</option>
<option>RUA LUZIA PINHATTA ANDREATTI</option>
<option>RUA MACINHATA DO VOUGA</option>
<option>RUA MAE MARIA</option>
<option>RUA MAESTRO ROCHA FERREIRA</option>
<option>RUA MAIORCA</option>
<option>RUA MAITENO</option>
<option>RUA MAJER KUCINSKI</option>
<option>RUA MAJOR BENEVIDES NAVARRO</option>
<option>RUA MANOEL DA CONCEICAO</option>
<option>RUA MANOEL DA ROCHA</option>
<option>RUA MANOEL FIALHO</option>
<option>RUA MANOEL PORTO</option>
<option>RUA MANUEL BORGES DE SOUSA</option>
<option>RUA MANUEL DE OLIVEIRA LIMA</option>
<option>RUA MANUEL DIAS DE ABREU</option>
<option>RUA MANUEL DO AMORIM</option>
<option>RUA MANUEL LOPES RODRIGUES</option>
<option>RUA MANUEL PERES</option>
<option>RUA MAPARAJUBA</option>
<option>RUA MARCO BASAITI</option>
<option>RUA MARCO DE CANAVESES</option>
<option>RUA MARECHAL JOAO CARLOS BARRETO</option>
<option>RUA MARGARIDA BASSIANO</option>
<option>RUA MARIA AGUIAR DOS SANTOS</option>
<option>RUA MARIA BLANCHARD</option>
<option>RUA MARIA CALLAS</option>
<option>RUA MARIA CLARA DA SILVA SANTANA</option>
<option>RUA MARIA DELMIRO ESPIRITO SANTO</option>
<option>RUA MARIA GERALDINA DE CAMPOS</option>
<option>RUA MARIA GOMES DA SILVA</option>
<option>RUA MARIA SILVINA TAVARES</option>
<option>RUA MARIO NIZZOLI</option>
<option>RUA MARIO TOTTA</option>
<option>RUA MARMELEIRA DA INDIA</option>
<option>RUA MARMELEIRO DO CAMPO</option>
<option>RUA MARTINHO RODRIGUES GATTO</option>
<option>RUA MARTINS SARMENTO</option>
<option>RUA MARUJAL</option>
<option>RUA MASATAKE MATSUMOTO</option>
<option>RUA MATEUS ESPINOSA SALMERON</option>
<option>RUA MAUA</option>
<option>RUA MAURICIO ADLER</option>
<option>RUA MAURICIO ROSA</option>
<option>RUA MEDELIM</option>
<option>RUA MERCEDES TESSER POCHINI</option>
<option>RUA MICHELANGELO</option>
<option>RUA MIGUEL FRANCISCO DIAS</option>
<option>RUA MIGUEL LUONGO</option>
<option>RUA MILTON GUIMILL</option>
<option>RUA MINISTRO MOACYR DO AMARAL SANTOS</option>
<option>RUA MIRAIMA</option>
<option>RUA MOACIR TAVARES DE PAIVA</option>
<option>RUA MODELAR</option>
<option>RUA MONDRIAN</option>
<option>RUA MONET</option>
<option>RUA MORAZZONE</option>
<option>RUA MOUQUIM</option>
<option>RUA MOVIMENTO POPULAR</option>
<option>RUA MOZART PINTO</option>
<option>RUA MULTIRANTES</option>
<option>RUA NAZARE MENEZES</option>
<option>RUA NEPAL</option>
<option>RUA NICOLA ARACRI</option>
<option>RUA NICOLINO LEO</option>
<option>RUA NICOLO DI PIETRO</option>
<option>RUA NIGER</option>
<option>RUA NILTON MACHADO DE BARROS</option>
<option>RUA NOGUEIRA DO CRAVO</option>
<option>RUA NORONHA FEIPAL</option>
<option>RUA OLIMPIO RODRIGUES DE ARAUJO</option>
<option>RUA OLIMPIO TELES DE MENESES</option>
<option>RUA ORLANDO DE ARAUJO BRAGA</option>
<option>RUA ORVALHO</option>
<option>RUA OSCAR ALVES ARMADA</option>
<option>RUA OSCAR PAES DE LIRA SALGADO</option>
<option>RUA OSNY DUARTE PEREIRA</option>
<option>RUA OSVALDO PEREIRA DE AMORIM</option>
<option>RUA OUTIZ</option>
<option>RUA PADRE DOMINGOS CUNHA</option>
<option>RUA PADRE MARCELINO DUARTE</option>
<option>RUA PADRE SILVERIO PARAOPEBA</option>
<option>RUA PANDALHOS</option>
<option>RUA PAOLO PORPORA</option>
<option>RUA PARTICIPACAO</option>
<option>RUA PASTOR JERONIMO GRANERO GARCIA</option>
<option>RUA PAULINO PEIXOTO SILVA</option>
<option>RUA PAULO APARECIDO SILVERIO</option>
<option>RUA PAULO GUASTINI</option>
<option>RUA PAULO MONTEIRO DUARTE</option>
<option>RUA PEDRO JOSE DA SILVA</option>
<option>RUA PEDRO MIRANDA</option>
<option>RUA PEDRO ROLDAN</option>
<option>RUA PENHA GARCIA</option>
<option>RUA PERA ROSA</option>
<option>RUA PEREIRA DO JAPAO</option>
<option>RUA PERIDOTO</option>
<option>RUA PERIPAROBA</option>
<option>RUA PETHION DE VILAR</option>
<option>RUA PETRASCO</option>
<option>RUA PIERRE LEGROS</option>
<option>RUA PIERRE PATEL</option>
<option>RUA PIETRO DA MILANO</option>
<option>RUA PIETRO LONGHI</option>
<option>RUA PIETRO SOLARI</option>
<option>RUA PIETRO VANUCCI</option>
<option>RUA PIRAJUSSARA</option>
<option>RUA PISANELLO</option>
<option>RUA PORTA DO PRADO</option>
<option>RUA POVOA DE VARZIM</option>
<option>RUA PRAIA DA FONTE</option>
<option>RUA PRESCILIANA DE ALMEIDA</option>
<option>RUA PRIMO BERTI</option>
<option>RUA PROFESSOR AGOSTINHO ALVIM</option>
<option>RUA PROFESSOR ANTONIO AUSTREGESILO</option>
<option>RUA PROFESSOR GASTAO RAMOS</option>
<option>RUA PROFESSOR JOAO GUMERCINDO GUIMARAES</option>
<option>RUA PROFESSOR JOSE AUGUSTO BARTHOLO</option>
<option>RUA PROFESSOR JOSE CASSIANO DE FIGUEIRED</option>
<option>RUA PROFESSOR PAULO ASSIS RIBEIRO</option>
<option>RUA PROFESSOR WASHINGTON PIRES</option>
<option>RUA PROFESSORA EUNICE B. DE OLIVEIRA</option>
<option>RUA PROFESSORA EUNICE BECHARA DE OLIVEIR</option>
<option>RUA PRUDENCIO DO AMARAL</option>
<option>RUA QUATORZE DE OUTUBRO</option>
<option>RUA QUATRO</option>
<option>RUA RAFAEL PORTANTE</option>
<option>RUA RAMONA BARROSO FERNANDEZ</option>
<option>RUA RAUL DAVILA POMPEIA</option>
<option>RUA RAUL DE AZEVEDO</option>
<option>RUA RAUL DE LEONI RAMOS</option>
<option>RUA RAUL LINO</option>
<option>RUA RELVA DO OLIMPO</option>
<option>RUA REMO SARTI</option>
<option>RUA RENATO BIROLLI</option>
<option>RUA RENATO DA CUNHA</option>
<option>RUA RENOIR</option>
<option>RUA RIBEIRA DO IGUAPE</option>
<option>RUA RICARDO NASCIMENTO</option>
<option>RUA RICHARD BOYLE</option>
<option>RUA ROBERT CAMPIN</option>
<option>RUA ROCHA MEDRANO</option>
<option>RUA ROMERO TORRES</option>
<option>RUA RORIZ</option>
<option>RUA ROSALBA CARRIERA</option>
<option>RUA ROSARIO SCAMARDI</option>
<option>RUA ROSSELLI</option>
<option>RUA RUBENS AYROLLA</option>
<option>RUA SAGARIS</option>
<option>RUA SAID KALAF</option>
<option>RUA SALIM ELIAS JABALI</option>
<option>RUA SALIM JABALI</option>
<option>RUA SALTO ALEGRE</option>
<option>RUA SAMUEL COOPER</option>
<option>RUA SANABANI</option>
<option>RUA SAO O S AMAZONAS</option>
<option>RUA SEBASTIAM DE ARTEAGA</option>
<option>RUA SEBASTIAO ADVINCULA DA CUNHA</option>
<option>RUA SEBASTIAO FRANCISCO OLIVEIRA</option>
<option>RUA SEBASTIAO MEIRA BARROS</option>
<option>RUA SEBASTIAO SOARES</option>
<option>RUA SERAFIM ALVARES</option>
<option>RUA SERAFIM PONTE GRANDE</option>
<option>RUA SERGIPE</option>
<option>RUA SERRA DA CANASTRA</option>
<option>RUA SERRA DA LAGOA</option>
<option>RUA SERRA DAS ESTRELAS</option>
<option>RUA SERRA DAS VERTENTES</option>
<option>RUA SERRA DE LAGES</option>
<option>RUA SERRA DE MONGAGUA</option>
<option>RUA SERRA DO CADEADO</option>
<option>RUA SERRA DO EMBU</option>
<option>RUA SERRA DO ESPINHACO</option>
<option>RUA SERRA DO PAIOL</option>
<option>RUA SERRA DO PILAR</option>
<option>RUA SERRA DOS DOIS IRMAOS</option>
<option>RUA SETE ANOS DE LUTA</option>
<option>RUA SEVERIANO CARDOSO</option>
<option>RUA SILVIA DE FARIA MARCONDES</option>
<option>RUA SIMAO ALVES DE ALMEIDA</option>
<option>RUA SIMAO CAETANO NUNES</option>
<option>RUA SIMAO DE MIRANDA</option>
<option>RUA SIMON BENING</option>
<option>RUA SIMON DE COLONIA</option>
<option>RUA SORIANO DE ALBUQUERQUE</option>
<option>RUA SOUSANAS</option>
<option>RUA SULINA</option>
<option>RUA TABICA</option>
<option>RUA TADEO GADDI</option>
<option>RUA TAJAL</option>
<option>RUA TAMEGA</option>
<option>RUA TARIRA</option>
<option>RUA TAVORA</option>
<option>RUA TEIXEIRA DE PASCOAIS</option>
<option>RUA TEIXEIRA LOPES</option>
<option>RUA TEMISTOCLES ARANHA</option>
<option>RUA TEO CABRAL</option>
<option>RUA TERRA PORTUGALENSE</option>
<option>RUA THOMAS HUDSON</option>
<option>RUA TIBET</option>
<option>RUA TIBRE</option>
<option>RUA TIJUANA</option>
<option>RUA TIJUAPE</option>
<option>RUA TIQUIRA</option>
<option>RUA TOBIAS STIMMER</option>
<option>RUA TOMAS CAMPANELLA</option>
<option>RUA TOMAS POMPEU</option>
<option>RUA TOYOMI SUYAMA</option>
<option>RUA TRIBO DOS ACRAS</option>
<option>RUA TURQUESA</option>
<option>RUA UGO CARNICELLI</option>
<option>RUA ULYSSES ZACARIAS</option>
<option>RUA UNIAO DOS MOVIMENTOS</option>
<option>RUA VALDEZ</option>
<option>RUA VALDOMIRO ARANTES</option>
<option>RUA VALDOMIRO DE PAULA</option>
<option>RUA VALDOMIRO RIZZO</option>
<option>RUA VALTER AIROSA FLAQUER</option>
<option>RUA VANIO MONDINI</option>
<option>RUA VASCO DE QUEVEDO</option>
<option>RUA VASCO FERNANDES</option>
<option>RUA VERA DO NASCIMENTO OLIVEIRA</option>
<option>RUA VERMELINO DE ALMEIDA</option>
<option>RUA VIARIZ</option>
<option>RUA VICENTE CARDUCHO</option>
<option>RUA VICENZO CAMPI</option>
<option>RUA VICENZO CATENA</option>
<option>RUA VILAR DE AMARGO</option>
<option>RUA VINHO DO PORTO</option>
<option>RUA VISCONDE DE CERVEIRA</option>
<option>RUA VITAL RIFARTO</option>
<option>RUA VITOR BASTOS</option>
<option>RUA VITOR SIMEAO</option>
<option>RUA VITORIANO DE OLIVEIRA</option>
<option>RUA VITORIANO PALHARES</option>
<option>RUA VON KARAJAN</option>
<option>RUA VOZES DAFRICA</option>
<option>RUA VULNERARIA</option>
<option>RUA WALDEMAR ORTEGA</option>
<option>RUA WALDEMIRO CALDEIRA</option>
<option>RUA ZACARIAS MAZEL</option>
<option>RUA ZAMBIA</option>
<option>RUA ZAMORA</option>
<option>RUA ZEFERINO BRASIL</option>
<option>RUA ZIRCAO</option>
<option>TRAVESSA ALCIDES PEREIRA DOS SANTOS</option>
<option>TRAVESSA AMEIXEIRA DO BRASIL</option>
<option>TRAVESSA CANHAMO DA INDIA</option>
<option>TRAVESSA CARVALHO DO MAR</option>
<option>TRAVESSA CASTANHA DO PARA</option>
<option>TRAVESSA DA REPLICA</option>
<option>TRAVESSA DAS CARANDEIRAS</option>
<option>TRAVESSA DAS PALMEIRINHAS</option>
<option>TRAVESSA DO FOSFORO</option>
<option>TRAVESSA JASMIM LARANJA</option>
<option>TRAVESSA JATOBA DO CAMPO</option>
<option>TRAVESSA JULHO DE 1982</option>
<option>TRAVESSA MUSICA DO DILEMA</option>
<option>TRAVESSA MUTIRANTE LUIZ GONZAGA</option>
<option>TRAVESSA OSMAR PINHEIRO</option>
<option>TRAVESSA PASSAREIRA</option>
<option>TRAVESSA PAULO LEITAO</option>
<option>TRAVESSA PERA FIDALGA</option>
<option>TRAVESSA POPULONIA</option>
<option>TRAVESSA RAIZ DE CEDRO</option>
<option>TRAVESSA RAIZES DA COMUNIDADE</option>
<option>TRAVESSA RIO RENO</option>
<option>TRAVESSA ROSA LOBO</option>
<option>TRAVESSA ROSE FLORA</option>
<option>TRAVESSA SAGUARAGI</option>
<option>TRAVESSA SANTIEIRO</option>
<option>TRAVESSA SEMELHANTES AOS OUTROS</option>
<option>TRAVESSA SENE DO REINO</option>
<option>TRAVESSA SETEMBRO DE 1981</option>
<option>TRAVESSA SETEMBRO DE 1983</option>
<option>TRAVESSA TEODORO DE TARSO</option>
<option>TRAVESSA VEU DO TEMPLO</option>
<option>TRAVESSA WALDEMAR CORDEIRO</option>
<option>VIELA PAULO MONTEIRO DUARTE</option>
<option>VIELA UM</option>
<option>VILA PAULO MONTEIRO DUARTE</option>


</select>
<p></p>
<button type="button">Visualizar informações</button> 
{% endblock %}