{% extends "bairros/base.html" %}

{% block content %}
<h3>Visualização das estatísticas por logradouro</h3>
<p>Aqui estão listados os bairros da região do Capão Redondo onde foram registrados Boletins de Ocorrência.</p>
<p>Após selecionar o bairro, clique no botão "Visualizar informações" abaixo. </p>
<p>Caso o logradouro do seu interesse não esteja listado, isso pode ser decorrente dos seguintes erros:</p>
<ul class="list-group list-group-flush">
	<li class="list-group-item">Digitação incorreta do nome do logradouro durante o  preenchimento do boletim de ocorrência</li>
	<li class="list-group-item">A ocorrência de fato ocorreu na região do Capão Redondo, porém o boletim de ocorrência foi registrado na delegacia de outra região</li>
	<li class="list-group-item">Erro no processamento dos dados</li>

<p></p>
<form action="/pagina_inicial/pesquisar_por_logradouro" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Visualizar informações">
</form>
{{ dados|safe }}
{{ dados1|safe }}
<p></p>

{% endblock %}