{% extends "bairros/base.html" %}

{% block content %}
<h3>Sobre nós</h3>

<p>Este site foi desenvolvido para a disciplina "Projeto Integrador I" dos cursos do Eixo Computação da <a class="https" href="https://univesp.br/">UNIVESP</a>.</p>
<p>Os seguintes alunos fazem parte do projeto:</p>
<ul class="list-group list-group-flush">
	<li class="list-group-item">Guilherme dos Santos Carvalho</li>
	<li class="list-group-item">Jéssica Oliveira Schmitz</li>
	<li class="list-group-item">Maria Cícera Pereira Araujo</li>
	<li class="list-group-item">Murilo José de Oliveira</li>
	<li class="list-group-item">Nilza Lima dos Santos</li>
	<li class="list-group-item">Renato de Souza Ribeiro</li>

<p></p>
<p>Orientador : Eugênio Kepler</p>
{% endblock %}
